body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background:#f9fafc;
    color: #333;
    line-height: 1.6
}
header{
    background-color:#4100ff;
    color: white;
    padding: 2px, 1px; /* to be changed */
    font-weight: 900;
    font-size: large; /* to be changed */
    letter-spacing: normal;
}

header p {
    margin-top: auto;
    font-size:larger; /* to be changed */
    font-weight: 500;
}
main {
    max-width: 900px;
    margin: 2px auto; /* to be changed */
    padding: 0 1px;
}